{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.quanshuwang.com/mbook/0/269/78850.html" />
<meta http-equiv="mobile-agent" content="format=html5; url=http://m.quanshuwang.com/mbook/0/269/78850.html" />
<script src="{% static 'js/mm.js' %}" type="text/javascript"></script>
<title>凡人修仙传_第一章 山边小村_全书网</title>
<meta name="keywords" content="凡人修仙传最新章节_第一章 山边小村" />
<meta name="description" content="凡人修仙传最新章节阅读:第一章 山边小村" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc">
<meta name="robots" content="all">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/board.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/readtools.css' %}" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript"  src="{% static 'js/jquery-1.js' %}"></script>
<script language="javascript" type="text/javascript"  src="{% static 'js/index.js' %}"></script>
<script language="javascript" type="text/javascript"  src="{% static 'ku.js' %}"></script>
<script src="{% static 'js/jquery-1.7.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.tools.min1.2.5.js' %}" type="text/javascript"></script>
<script language="javascript" type="text/javascript"  src="{% static 'js/tools.js' %}"></script>
<script language="javascript" type="text/javascript"  src="{% static 'js/common.js' %}"></script>
<!--[if lt IE 9]>
<script src="{% static 'js/html5.js' %}"></script>
<![endif]-->
<script type="text/javascript">
<!--
var preview_page = "http://www.quanshuwang.com/book/0/269";
var next_page = "http://www.quanshuwang.com/book/0/269/78854.html";
var index_page = "http://www.quanshuwang.com/book/0/269";
var article_id = "269";
var chapter_id = "78850";
var article_name = "凡人修仙传";
var chapter_name = "第一卷 七玄门风云 第一章 山边小村";
function jumpPage() {
  var event = document.all ? window.event : arguments[0];
  if (event.keyCode == 37) document.location = preview_page;
  if (event.keyCode == 39) document.location = next_page;
  if (event.keyCode == 13) document.location = index_page;
}
document.onkeydown=jumpPage;
-->
</script>
</head>
<body>
<div id="wrapper">
  <div class="shadow" style="height:1px;"></div>
  <header id="global-head" style="height:32px;">
    <div>
      <nav class="site-navigation cf">
	  <a class="home" href="http://www.quanshuwang.com">首页</a>
	  <a href="/shuku/">书库榜单</a>
	  <a href="http://m.quanshuwang.com">全书手机站</a>
	  </nav>
     <div class="hd-follow" style="width:400px;">
	<div class="myhide"><a href="javascript:;" class="hides">浏览记录</a>
		<div class="hideInfo">
		<script type="text/javascript" src="{% static 'js/json2.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/readshow.js' %}"></script>
		<p>*提示：浏览记录仅放置最近浏览的10本书籍</p>
		</div>
	</div>
        <span id="checklogin">
			<script language="javascript" src="{% static 'js/denglu.js' %}"></script>
		</span>
		</div>
    </div>
</header>
  <div id="channel-header" class="clearfix"  style="margin-top:1px;">
    <div class="channel-header-wrapper">
      <div class="channel-logo"><a href="http://www.quanshuwang.com" title="全书网">全书网</a></div>
      <nav class="channel-nav">
        <ul class="channel-nav-list">
  <li><a href="http://www.quanshuwang.com/list/1_1.html">玄幻魔法</a></li>
  <li><a href="http://www.quanshuwang.com/list/2_1.html">武侠修真</a></li>
  <li><a href="http://www.quanshuwang.com/list/3_1.html">纯爱耽美</a></li>
  <li><a href="http://www.quanshuwang.com/list/4_1.html">都市言情</a></li>
  <li><a href="http://www.quanshuwang.com/list/5_1.html">职场校园</a></li>
  <li><a href="http://www.quanshuwang.com/list/6_1.html">穿越重生</a></li>
  <li><a href="http://www.quanshuwang.com/list/7_1.html">历史军事</a></li>
  <li><a href="http://www.quanshuwang.com/list/8_1.html">网游动漫</a></li>
  <li><a href="http://www.quanshuwang.com/list/9_1.html">恐怖灵异</a></li>
  <li><a href="http://www.quanshuwang.com/list/10_1.html">科幻小说</a></li>
  <li><a href="http://www.quanshuwang.com/list/11_1.html">美文名著</a></li>
  <li><a href="http://www.quanshuwang.com/list/12_1.html">热门推荐</a></li>
        </ul>
      </nav>
    </div>
  </div>
   <script type="text/javascript">style1();</script>
<div id="container">
   <script type="text/javascript">style2();</script>
<div class="mainnav"><div class="main-index" id="direct"><span class="r mr10"> <form action="/modules/article/search.php" method="get" >搜小说：<input type="text" name="searchkey" value="" id="bdcsMain"/><button type="submit" >搜</button></form></span>位置：<a href="/" class="c009900">全书网</a> > <a href="/modules/article/articlelist.php?class=2">武侠修真</a>  > <a href="/book_269.html" class="article_title">凡人修仙传</a>  > 第一卷 七玄门风云 第一章 山边小村</div>
      <section class="main b-detail" id="directs"><div class="bookInfo"><h1>
	  <span class="r">	  </span>
	  <em class="l">《凡人修仙传》</em><strong class="l jieqi_title">{{ article.title }}</strong><a href="/modules/article/addbookcase.php?bid=269&cid="  target="_blank" title="加入书签" class="l">加入书签</a><a href="/newmessage.php?tosys=1&amp;title=凡人修仙传-章节错误&amp;content=错误章节：第一卷 七玄门风云 第一章 山边小村  举报原因如下： " title="举报错误"   class="l" >举报错误</a>
            <div class="clear"></div></h1>
<div class="toolbar"><script language="JavaScript" src="{% static 'js/toolbar.js' %}" type="text/javascript"></script></div>
<div class="mainContenr"   id="content"><script type="text/javascript">style5();</script>
     {{ content|safe}}
    <script type="text/javascript">style6();</script></div>
<div style="margin:6px 1px 6px 1px;text-align:center;"><script type="text/javascript">style7();</script></div>
<div class="backs"><a href="#" class="pre">上一章</a><a href="http://www.quanshuwang.com/book/0/269" class="backfor">返回目录</a><a href="#" class="next">下一章</a><p>小提示： 按←键返回上一页，按→键进入上一页,您还可以<a href="/modules/article/addbookcase.php?bid=269&cid=" title="加入书签"  target="_blank">〖加入书签〗</a><a href="/newmessage.php?tosys=1&amp;title=凡人修仙传-章节错误&amp;content=错误章节：第一卷 七玄门风云 第一章 山边小村  举报原因如下： " title="举报错误"  target="_blank">〖举报错误〗</a></p></div>
</div>
      <div style="margin:6px 1px 6px 1px;text-align:center;"><script type="text/javascript">style4();</script></div>
	  </section>
    </div>
   <script type="text/javascript">style9();</script>
<div class="attention"><em>阅读提示：</em><br/>
1、本站会员登录后，将免费体会到最顺畅的阅读方式[<em>最少广告</em>]。<br/>
2、<em>注册本站会员</em>，将《<a href="/book_269.html" class="article_title"><em>凡人修仙传</em></a>》加入书架，可以通过书架更快的了解更新信息。<br/>
3、免费小说《<a href="/book_269.html" class="article_title"><em>凡人修仙传</em></a>》 第一卷 七玄门风云 第一章 山边小村 所描述的内容只是作者 作者 <em>忘语</em>个人观点，与本站的立场无关，本站只为广大用户提供阅读平台。
</div>
<div class="attention"><em>友情链接：</em><br>
    <a href="https://www.dddazhe.com/" target="_blank" class="article_title">优惠券</a>&nbsp;&nbsp;
	<a href="https://www.dddazhe.com/vip" target="_blank" title="唯品会优惠券" class="article_title">唯品会优惠券</a>&nbsp;&nbsp;
	<a href="https://www.dddazhe.com/adidas" target="_blank" title="携程网优惠券" class="article_title">adidas优惠券</a>&nbsp;&nbsp;
    <a href="http://www.66wx.com/" target="_blank"  title="六六文学" class="article_title">六六文学</a>
	<a href="https://www.dddazhe.com/neatorobotics" target="_blank" title="neatorobotics优惠券" class="article_title">Neato Robotics优惠券</a>&nbsp;&nbsp;
    <a href="https://www.danji6.com/" target="_blank" class="article_title">游乐网</a>&nbsp;&nbsp;
    <a href="https://www.cn486.com/" target="_blank" class="article_title">菜鸟下载</a>&nbsp;&nbsp;
</div>
</div></div>
<script type="text/javascript">replace();</script>
<script type="text/javascript" src="{% static 'js/readset.js' %}"></script>
<script type="text/javascript" src="{% static 'js/readlog.js' %}"></script>
<script type="text/javascript">duilian();</script>
<script type="text/javascript">baidusearch();</script>
<script type="text/javascript">style10();</script>
</body>
</html>